.body{
  margin: 0;
  padding: 0;
}
.container{
background-color: aqua;
display: flex;
margin: auto;
}
.sidebar{
  background-color: blueviolet;
  padding: 30px;
  margin: 15px;
}
.sidebar img{
border-radius: 50px;
width: 100%;
}
.sidebar h1{
  font-size: 30px;
  margin: 0 0 10;
}
.sidebar p{
  font-size: 20px;
  margin: 3px ;
}
.content{
  background-color: brown;
  padding: 60px;
  margin: 15px;
  width: 1500%;
}
.content h3{
  font-size: 30px;
  padding: 1px;
  margin-bottom: 20px;
}
.content h2{
  font-size: 50px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.content p{
  font-size: 15px;
  margin: 3px;
  line-height:1;
}
.content h4{
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.section{
  margin-bottom: 20px;
}