@font-face {
  font-family:'viking' ;
  src: url(font/VIKING-N.TTF) format('ttf');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family:'viking',sans-serif;
}
h1 {
  color: #080a71; /* bleu foncé */
}

h2 {
  color: #3366ff; /* bleu moyen */
}

h3 {
  color: #14508b; /* bleu clair */
}
.profile {
 align-items: center;
display : flex;
}
.titre {
  text-align: center;
}
.profile img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.profile h1 {
  margin-left: 200px;
  font-size: 2em;
}
#pp{
 background-color: #98c3eb;
  border-radius: 10px;
}
.cv-layout {
display: flex;
  flex-direction: row-reverse; /* ← Inverse l'affichage visuel */
  gap: 40px;
  margin-top: 30px;
}
    .col-gauche {
      width: 30%; /* colonne plus étroite */
      padding: 20px;
      text-align: left;
    }

    .col-droite {
      width: 70%; /* colonne plus large */
      padding: 20px;
      text-align: left;
    }
    .col-droite h2 {
  text-align: center;
}

    h3 {
      margin: 10px 0;
    }

    h2 {
      margin: 10px 0;
    }
    .col-gauche, .col-droite {
  background-color: #98c3eb;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}