body{
    font-family : arial, sans-serif;
    background-color :rgb(197, 159, 233);
    color :rgb(59, 12, 90);
    margin-top : 50px;
    text-align : center;
    padding : 20px;
    }
form {
    margin: 50px;
    padding: 20px;
    display: block;
    position: relative;
    width: 300px;
    box-sizing: border-box;
    background-color: rgba(243, 223, 240, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
label {
    display: inline-block;
    margin-bottom: 5px;
}

.submit {
    background-color: rgb(235, 120, 225);
    cursor: pointer;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border-color: rgb(235, 120, 225);
    border-width: 10px;
    font-size: 12px ;
}
