body{
    font-family : arial, sans-serif;
    background :linear-gradient(rgb(197, 159, 233), rgb(18, 124, 106));
    background-attachment: fixed;
    }
form {
    margin: 50px auto;
    padding: 20px;
    display: block;
    position: relative;
    width: 300px;
    box-sizing: border-box;
    background: linear-gradient(rgba(243, 223, 240, 0.8), rgba(197, 159, 233, 0.8));
    border-radius: 10px;
    box-shadow: -10px -10px 5px rgba(255, 255, 255, 0.2);
}
label {
    display: inline-block;
    margin-bottom: 5px;
}

.submit {
    background-color: rgb(235, 120, 225);
    cursor: pointer;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border-color: rgb(26, 240, 18);
    border-width: 1px;
    font-size: 12px ;
    border-style: solid;
}
input {
    border-radius: 10px;
    border: 1px solid rgb(26, 240, 18) ;
}